{% extends 'base.html' %}
{% block content %}
<h2>List of tag</h2>
<br/>
<center>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                Tag
            </th>
            <th>
                Description
            </th>
        </tr>
        <tr>
            <td>
                CC
            </td>
            <td>
                coordinating conjunction
            </td>
        </tr>
        <tr>
            <td>
                CD
            </td>
            <td>
                cardinal digit
            </td>
        </tr>
        <tr>
            <td>
                FW
            </td>
            <td>
                foreign word
            </td>
        </tr>
        <tr>
            <td>
                IN
            </td>
            <td>
                preposition/subordinating conjunction
            </td>
        </tr>
        <tr>
            <td>
                JJ
            </td>
            <td>
                adjective ‘big’
            </td>
        </tr>
        <tr>
            <td>
                JJR
            </td>
            <td>
                adjective, comparative ‘bigger’
            </td>
        </tr>
        <tr>
            <td>
                JJS
            </td>
            <td>
                adjective, superlative ‘biggest’
            </td>
        </tr>
        <tr>
            <td>
                LS
            </td>
            <td>
                list marker 1)
            </td>
        </tr>
        <tr>
            <td>
                DT
            </td>
            <td>
                determiner
            </td>
        </tr>
        <tr>
            <td>
                EX
            </td>
            <td>
                existential there (like: “there is” … think of it like “there exists”)
            </td>
        </tr>
        <tr>
            <td>
                MD
            </td>
            <td>
                modal could, will
            </td>
        </tr>
        <tr>
            <td>
                NN
            </td>
            <td>
                noun, singular ‘desk’
            </td>
        </tr>
        <tr>
            <td>
                NNS
            </td>
            <td>
                noun plural ‘desks’
            </td>
        </tr>
        <tr>
            <td>
                NNP
            </td>
            <td>
                proper noun, singular ‘Harrison’
            </td>
        </tr>
        <tr>
            <td>
                NNPS
            </td>
            <td>
                proper noun, plural ‘Americans’
            </td>
        </tr>
        <tr>
            <td>
                PDT
            </td>
            <td>
                predeterminer ‘all the kids’
            </td>
        </tr>
        <tr>
            <td>
                POS
            </td>
            <td>
                possessive ending parent‘s
            </td>
        </tr>
        <tr>
            <td>
                PRP
            </td>
            <td>
                personal pronoun I, he, she
            </td>
        </tr>
        <tr>
            <td>
                PRP$
            </td>
            <td>
                possessive pronoun my, his, hers
            </td>
        </tr>
        <tr>
            <td>
                RB
            </td>
            <td>
                adverb very, silently
            </td>
        </tr>
        <tr>
            <td>
                RBR
            </td>
            <td>
                adverb, comparative better
            </td>
        </tr>
        <tr>
            <td>
                RBS
            </td>
            <td>
                adverb, superlative best
            </td>
        </tr>
        <tr>
            <td>
                RP
            </td>
            <td>
                particle give up
            </td>
        </tr>
        <tr>
            <td>
                TO
            </td>
            <td>
                to go ‘to‘ the store.
            </td>
        </tr>
        <tr>
            <td>
                UH
            </td>
            <td>
                interjection errrrrrrrm
            </td>
        </tr>
        <tr>
            <td>
                VB
            </td>
            <td>
                verb, base form take
            </td>
        </tr>
        <tr>
            <td>
                VBD
            </td>
            <td>
                verb, past tense took
            </td>
        </tr>
        <tr>
            <td>
                VBG
            </td>
            <td>
                verb, gerund/present participle taking
            </td>
        </tr>
        <tr>
            <td>
                VBN
            </td>
            <td>
                verb, past participle taken
            </td>
        </tr>
        <tr>
            <td>
                VBP
            </td>
            <td>
                verb, sing. present, non-3d take
            </td>
        </tr>
        <tr>
            <td>
                VBZ
            </td>
            <td>
                verb, 3rd person sing. present takes
            </td>
        </tr>
        <tr>
            <td>
                WDT
            </td>
            <td>
                wh-determiner which
            </td>
        </tr>
        <tr>
            <td>
                WP
            </td>
            <td>
                wh-pronoun who, what
            </td>
        </tr>
        <tr>
            <td>
                WP$
            </td>
            <td>
                possessive wh-pronoun whose
            </td>
        </tr>
        <tr>
            <td>
                WRB
            </td>
            <td>
                wh-abverb where, when
            </td>
        </tr>
    </table>
</center>
<br/>
<br/>
<br/>
{% endblock %}
